<div id="footer">
    <div>
        @Html.ActionLink("go home","Index","Home")
        @Html.ActionLink("go to engineers list","Index","Engineers")
        @Html.ActionLink("go to machines list", "Index", "Machines")
    </div>
</div>